<div class="auth-form">
    <h2 class="text-center m-b-30">{{path == '/sign-in' ? 'Log In' : path == '/sign-up' ? 'Register' : 'Forgot Password...'}}</h2>
    <form name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
        <md-select class="col-xs-12 m-b-20" placeholder="You are..." name="authType" [(ngModel)]="model.authType" #authType="ngModel" required>
            <md-option value="Teacher">Teacher</md-option>
            <md-option value="Student">Student</md-option>
        </md-select>
        <div *ngIf="f.submitted && !model.authType" class="help-block">Please describe who you are.</div>

        <div class="form-group m-t-20" [class.has-error]="f.submitted && !username.valid">
            <label for="username">{{model.authType == 'Teacher' ? 'Email' : 'ID'}}</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
            <div *ngIf="f.submitted && !username.valid" class="help-block">This Field is required</div>
        </div>
        <div *ngIf="path!='/forgot'" class="form-group" [class.has-error]="f.submitted && !password.valid">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>
        <div *ngIf="path!='/sign-in' && model.authType == 'Student'" class="form-group" [class.has-error]="f.submitted && !security.valid">
            <label for="password">Security Answer</label>
            <input type="text" class="form-control" name="security" [(ngModel)]="model.security" #security="ngModel" required />
            <div *ngIf="f.submitted && !security.valid" class="help-block">Security answer is required</div>
        </div>
        <div class="form-group text-center m-t-25">
            <button class="btn btn-primary">{{path == '/sign-in' ? 'Log In' : path == '/sign-up' ? 'Register' : 'Submit'}}</button>
            <a *ngIf="path == '/sign-in'" [routerLink]="['/sign-up']" class="btn btn-link">Register</a>
            <a *ngIf="path != '/sign-in'" [routerLink]="['/sign-in']" class="btn btn-link">Log In</a>
        </div>
        <div class="form-group text-center">
            <a *ngIf="path == '/sign-in'" [routerLink]="['/forgot']" class="btn btn-link">Forgot password...</a>
        </div>            
    </form>
</div>