.auth-form {
    position: absolute;
    top: 40%;
    left: 50%;
    width: calc(100% - 30px);
    max-width: 350px;
    padding: 50px 20px 30px 20px;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(150, 150, 150, .8);    
}