<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Challenges</a>
    </div>
    <ul *ngIf="authenticationService.authState.type == 'teacher'" class="nav navbar-nav">
      <li [class.active]='isOnPage("dashboard")'><a [routerLink]="['/admin/dashboard']">Dashboard</a></li>
      <li [class.active]='isOnPage("create-challenge")'><a [routerLink]="['/admin/create-challenge']">Build Challenge</a></li>
      <li [class.active]='isOnPage("summary")'><a [routerLink]="['/admin/summary']">Summary</a></li>
    </ul>
    <ul *ngIf="authenticationService.authState.type == 'student'" class="nav navbar-nav">
      <li [class.active]='isOnPage("challenge-select")'><a [routerLink]="['/user/challenge-select']">Challenges</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="authenticationService.authState"><a [routerLink]="['/user/profile']"><span class="glyphicon glyphicon-user"></span> Profile </a></li>
      <li *ngIf="authenticationService.authState"><a (click)="signOut()"><span class="glyphicon glyphicon-log-out"></span> Sign Out </a></li>
    </ul>
  </div>
</nav>