<div class="container-fluid">
  <md-card id="profile" class="row">
      <h2 class="col-xs-12 text-center">User Profile</h2>
      
      <md-form-field class="col-xs-12">
        <input class="col-xs-12" mdInput placeholder="Age" type="number" [(ngModel)]="model.age" min="1" max="99">
      </md-form-field>

      <h4 class="col-xs-12 m-t-25 m-b-10 clear">Gender</h4>
      <md-radio-group class="col-xs-12" [(ngModel)]="model.gender">
          <md-radio-button class="col-xs-6" [value]="'Male'">Male</md-radio-button>
          <md-radio-button class="col-xs-6" [value]="'Female'">Female</md-radio-button>
      </md-radio-group>

      
      <md-form-field class="col-xs-12 m-t-25">
        <input class="col-xs-12" mdInput placeholder="Country" [mdAutocomplete]="auto" [formControl]="countryControl">
        <md-autocomplete #auto="mdAutocomplete">
          <md-option *ngFor="let country of filteredStates | async" [value]="country">
            <span>{{ country }}</span>
          </md-option>
        </md-autocomplete>
      </md-form-field>

      <md-form-field class="col-xs-12 m-t-25">
        <input class="col-xs-12" mdInput placeholder="First language" type="text" [(ngModel)]="model.language">
      </md-form-field>

      <md-form-field class="col-xs-12 m-t-25">
        <input class="col-xs-12" mdInput placeholder="Profession" type="text" [(ngModel)]="model.profession">
      </md-form-field>

      <div class="col-xs-12 m-t-25">
        <button class="btn btn-primary col-xs-6 col-xs-offset-3 text-center m-t-25 m-b-25" (click)="saveProfile()">Save</button>
      </div>
      
    </md-card>
</div>