input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

#profile {
    max-width: 480px;
    width: 100%;
    margin: 50px auto;
    padding-top: 50px!important;
}

.mat-form-field {
    width: 100%;
}