<div class="well summary col-xs-12">
    <div class="col-xs-12 col-md-6 col-lg-4" *ngFor="let challenge of challenges | async">
        <div class="col-xs-12 text-center">{{challenge.title}}</div>
        <app-avg-result [ID]="challenge.$key"></app-avg-result>
    </div>
</div>