
.slider-group {
    width: calc(100% - 100px);
    margin: 20px auto;
}

.slider-name {
    text-align: center;
    width: 100px;
    float: left;
    height: 40px;
    line-height: 40px;
}

.slider {
    display: inline-block;
    width: calc(100% - 100px);
}

