<div class="container">

    <div class="col-xs-12 text-center" style="font-size: 34px">{{title}}</div>
    <div class="col-xs-12" style="font-size: 20px">{{description}}</div>
    <div id="details-container" class="col-xs-12 m-t-20 m-b-20">
         
        <div class="slider-group" *ngFor="let slider of local">
            <div class="col-xs-12 col-md-10 col-md-offset-2 m-t-50 m-b-15" style="font-size: 14px">{{slider.description}}</div>
            <div class="slider-name" style="font-size: 12px">{{slider.name}}</div>
            <div class="slider">
                <ion-range-slider 
                    #sliderElement
                    type="single"
                    min="0"
                    max="100"
                    [from]="slider.value"
                    [disable]="submitted"
                    postfix=" %"
                    decorate_both="false"
                    (onUpdate)="onUpdate($event, slider)"
                    (onChange)="onUpdate($event, slider)"
                    (onFinish)="OnFinish($event, slider)"></ion-range-slider>
            </div>
        </div>
    </div> 

    <div class="col-xs-12 text-center m-b-30">
        <button type="button" class="btn btn-success" [class.disabled]="submitted" (click)="Send()"> Send answer </button>
    </div>

     <div class="col-xs-12 col-md-6">
        <div class="col-xs-12 text-center"> Your answer </div>
        <canvas baseChart
            [data]="localValues"
            [labels]="names"
            [chartType]="'doughnut'"
            [options]="chartOptions"></canvas>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="col-xs-12 text-center">Average Answer</div>
        <app-avg-result [ID]="ID"></app-avg-result>
    </div>

</div>