<div class="container well text-center">
    <h1>Challenges</h1>
    <div [routerLink]="['/admin/create-challenge']" class="alert alert-warning m-t-15"><span class="fa fa-plus m-r-20"></span>Create a Challenge</div>
    
    <div *ngFor="let challenge of challenges | async" class="alert alert-info cur-po" [routerLink]="['/admin/edit-challenge']" [queryParams]="{ id: challenge.$key }">
        {{challenge.title}}
        <!-- <span class="fa fa-trash pull-right m-r-20"></span> -->
    </div>

</div>