<div class="challenge-select container">
    <div *ngFor="let challenge of challenges | async" class="alert alert-info" style="cursor: pointer" [routerLink]="['/user/challenge']" [queryParams]="{ id: challenge.$key }">
        {{challenge.title}}
    </div>
</div>