<div class="container text-center m-t-100">
    <inline-editor class="title" type="text" [(ngModel)]="title" name="title" size="32"></inline-editor>
    <inline-editor class="description m-t-20 col-xs-12 col-md-10 col-md-offset-1" type="textarea" [(ngModel)]="description" name="description" cols="80"></inline-editor>
     <div id="details-container" class="col-xs-12 m-t-20 m-b-20">
         
        <div class="slider-group" *ngFor="let slider of sliders">
            <inline-editor type="textarea" class="col-xs-12" [(ngModel)]="slider.description" name="slider.description" cols="80" (onSave)="updateItems($event)"></inline-editor>
            <inline-editor type="text" class="slider-name" [(ngModel)]="slider.name" name="slider.name" size="8" (onSave)="updateItems($event)"></inline-editor>
            <div class="slider">
                <ion-range-slider 
                    #sliderElement
                    type="single"
                    min="0"
                    max="100"
                    disable = true
                    [from]="slider.value"
                    postfix=" %"
                    decorate_both="false"
                    (onUpdate)="onUpdate($event, slider)"
                    (onChange)="onUpdate($event, slider)"
                    (onFinish)="OnFinish($event, slider)"></ion-range-slider>
            </div>
        </div>
    </div> 

    <div class="col-xs-12 text-center m-b-30">
        <button type="button" class="btn btn-warning" (click)="addSlider()"> Add slider </button>
        <button type="button" class="btn btn-warning m-r-50" (click)="removeSlider()"> Remove Slider </button>
        <button type="button" class="btn btn-success" (click)="Send()"> Save Challenge </button>
    </div>
</div>